<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Practical suit 1" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
        <listener class-name="org.testng.reporters.JUnitXMLReporter" />
        <listener class-name="org.testng.reporters.EmailableReporter2" />
        <listener class-name="org.testng.reporters.FailedReporter" />
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="Project.Utility.RetryListener"/>
    </listeners>

    <test name="Calculator">
           <classes>
               <class name="Project.tests.AdditionTest"/>
               <class name="Project.tests.MinusTest"/>
               <class name="Project.tests.DivideTest"/>
               <class name="Project.tests.MultiplyTest"/>
           </classes>
    </test>

   <!--<test name="XYZ">
        <classes>lu7yoo0ppp
           <class name="corejava.testng.Assignment1"/>
        </classes>
    </test>-->

</suite>

